header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.clock {
    display: flex;
    justify-content: center;
    margin: 60px 40px;
    padding-top: 20px;

    font-size: 48px;
    font-weight: 500;

    transition: all 0.3s ease;

    !important;
}

nav {
    margin-top: 60px;
}